<div class="container">
  <div *ngIf="selected">
    <app-receta-detail [recetaDetail]="selectedReceta"></app-receta-detail>
   </div>
   <hr />
  <div class="row">
    <p>{{ message }}</p>
   <hr/>
  </div>
  <div class="row">
    <div class="col mb-2" *ngFor="let receta of recetas">
          <div class="card p-2" style="width: 20rem; height: 25rem">
            <h5 class="card-title">{{ receta.nombre }}</h5>
              <img
                class="card-img-top"
                src="{{ receta.imagen }}"
                alt="{{ receta.nombre }}"
              />
              <div class="card-body">
                  <p class="card-text">Calificación: {{receta.estrellas}} de {{receta.cantidadOpiniones}} opiniones <br>
                                        Duración: {{receta.duracion}} | Dificultad: {{receta.dificultad}} <br>
                                        Por: {{receta.autorReceta}} </p>

                  <button type="button" class="btn btn-primary" (click)="onSelected(receta)">Consultar detalle</button>
              </div>
           </div>
      </div>
   </div>
</div>
